---
import { companies } from "./data";
---

<div>
  <h2 class="my-6 heading text-4xl">I've worked for</h2>
</div>
<section class="">
  <div class="bg-white bg-opacity-10 p-8 mb-20">
    <div
      class="grid sm:grid-cols-[repeat(auto-fill,240px)] place-content-center gap-4 lg:gap-10 place-items-center"
    >
      {
        companies.map((comp) => (
          <div class=" ">
            <a href={comp.url} target="_blank" rel=" noopener noreferrer">
              <img
                class=" w-full max-h-[80px]  md:max-h-[120px] "
                src={`/portfolio${comp.img}`}
                alt={`${comp.name} company logo`}
                title={comp.name}
              />
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
