---
import { companies } from "./data";
---

<section>
  <div>
    <h2 class="my-6 heading text-4xl">I've worked for</h2>
  </div>
  <div class="breakout bg-gray-400 p-8 mb-20">
    <div
      class="grid grid-cols-[repeat(auto-fill,300px)] place-content-center gap-10 place-items-center"
    >
      {
        companies.map((comp) => (
          <div class=" ">
            <a href={comp.url} target="_blank" rel=" noopener noreferrer">
              <img
                class="  max-h-[160px] "
                src={`/portfolio${comp.img}`}
                alt={`${comp.name} company logo`}
                title={comp.name}
              />
            </a>
          </div>
        ))
      }
    </div>
  </div>
</section>
