@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --industrial: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
      "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
  }
  body {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    background: black;
    color: white;
  }

  .content-grid {
    --padding-inline: 3rem;
    --content-max-width: 900px;
    --breakout-max-width: 1200px;
    --breakout-size: calc(
      (var(--breakout-max-width) - var(--content-max-width)) / 2
    );

    display: grid;
    grid-template-columns:
      [fullwidth-start] minmax(var(--padding-inline), 1fr)
      [breakout-start] minmax(0, var(--breakout-size))
      [content-start] min(
        100% - (var(--padding-inline) * 2),
        var(--content-max-width)
      )
      [content-end]
      minmax(0, var(--breakout-size)) [breakout-end]
      minmax(var(--padding-inline), 1fr) [fullwidth-end];
  }

  :where(.content-grid, .fullwidth) > :not(.breakout, .fullwidth) {
    grid-column: content;
  }

  .content-grid > .breakout {
    grid-column: breakout;
  }

  .content-grid > .fullwidth {
    grid-column: fullwidth;
    display: grid;
    grid-template-columns: inherit;
  }
}

@layer components {
  .heading {
    font-family: var(--industrial);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.08em;
  }

  .carousel {
    position: relative;
    overflow: auto;
    display: flex;
    --d: 0px;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--d);
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
