---
import WorkCard from './WorkCard.astro';

const mdxs = await Astro.glob<Record<'id' | 'imgs', string | string[]>>('../content/work/*.md');

const works = new Map();
mdxs.forEach((md) => works.set(md.frontmatter.id, md));
---

<div>
  <h2 class="my-6 heading text-4xl">SHOW & TELL</h2>
</div>
<section class="breakout">
  <div
    class="grid grid-cols-12 grid-flow-row grid-rows-[repeat(auto,min(89px,(100vw-3rem-16px*11)*1/12))] md:grid-rows-[repeat(50,min(89px,(100vw-3rem-16px*11)*1/12))] gap-2"
  >
    <div></div>
    <div class="relative overflow-hidden col-span-full md:col-span-8 md:row-span-5">
      <WorkCard md={works.get('flyp')} />
    </div>
    <div></div>
    <div class="relative overflow-hidden col-span-full md:col-span-6 md:row-span-3">
      <WorkCard md={works.get('flypdash')} />
    </div>

    <div></div>
    <div class="relative overflow-hidden col-span-full md:col-span-6 md:row-span-4">
      <WorkCard md={works.get('sbk')} />
    </div>
    <div class="col-span-1 row-span-3"></div>

    <div class="relative overflow-hidden col-span-full md:col-span-6 md:row-span-4">
      <WorkCard md={works.get('kita')} />
    </div>
    <div></div>

    <div class="relative overflow-hidden col-span-full md:col-span-3 md:row-span-5">
      <WorkCard md={works.get('agb')} />
    </div>
    <div class="col-span-2 row-span-2"></div>

    <div class="relative overflow-hidden col-span-full md:col-span-6 md:row-span-4">
      <WorkCard md={works.get('katamari')} />
    </div>
    <div></div>
    <div class="relative overflow-hidden col-span-full md:col-span-6 md:row-span-4">
      <WorkCard md={works.get('colophon')} />
    </div>
    <div></div>

    <div></div>
    <div class="relative overflow-hidden col-span-full md:col-span-6 md:row-span-4">
      <WorkCard md={works.get('xr')} />
    </div>
    <div></div>

    <div></div>
    <div class="relative overflow-hidden col-span-full md:col-span-4 md:row-span-3">
      <WorkCard md={works.get('earthly')} />
    </div>
    <div></div>
    <div></div>
    <div></div>

    <div class="relative overflow-hidden col-span-full md:col-span-5 md:row-span-4">
      <WorkCard md={works.get('shelf')} />
    </div>
    <div></div>
    <div class="relative overflow-hidden col-span-full md:col-span-6 md:row-span-3">
      <WorkCard md={works.get('unbrickit')} />
    </div>
    <div></div>

    <div class="relative overflow-hidden col-span-8 md:col-span-4 md:row-span-4">
      <WorkCard md={works.get('snowflake')} />
    </div>
    <div></div>
    <div class="relative overflow-hidden col-span-10 md:col-span-4 md:row-span-3">
      <WorkCard md={works.get('playalong')} />
    </div>
    <div class="col-span-2 row-span-2"></div>

    <div class="relative overflow-hidden col-span-full row-span-4 md:col-span-6 md:row-span-3">
      <WorkCard md={works.get('islamic')} />
    </div>
    <div></div>
    <div class="relative overflow-hidden col-span-10 md:col-span-4 md:row-span-3">
      <WorkCard md={works.get('sampler')} />
    </div>
    <div></div>

    <div class="relative overflow-hidden col-span-10 md:col-span-4 md:row-span-3">
      <WorkCard md={works.get('sketchbook-two')} />
    </div>
    <div></div>
    <div class="relative overflow-hidden col-span-8 md:col-span-4 md:row-span-3">
      <WorkCard md={works.get('sketchbook')} />
    </div>
    <div></div>
    <div class="relative overflow-hidden col-span-8 md:col-span-3 md:row-span-3">
      <WorkCard md={works.get('pushbullet')} />
    </div>
    <div></div>

    <div class="relative overflow-hidden col-span-10 md:col-span-5 md:row-span-4">
      <WorkCard md={works.get('kolam')} />
    </div>
    <div></div>
    <div class="relative overflow-hidden col-span-8 md:col-span-4 md:row-span-5">
      <WorkCard md={works.get('boggle')} />
    </div>
    <div></div>
    <div class="relative overflow-hidden col-span-8 md:col-span-3 md:row-span-4">
      <WorkCard md={works.get('pomodoro')} />
    </div>
    <div></div>

    <div></div>
    <div class="relative overflow-hidden col-span-8 md:col-span-3 md:row-span-3">
      <WorkCard md={works.get('kolamsketch')} />
    </div>

    <div class="relative overflow-hidden col-span-8 row-span-4 md:col-span-5 md:row-span-4">
      <WorkCard md={works.get('symmetric')} />
    </div>
    <div></div>
    <div></div>

    <div class="relative overflow-hidden col-span-8 row-span-4 md:col-span-5 md:row-span-4">
      <WorkCard md={works.get('automaton')} />
    </div>
    <div class="relative overflow-hidden col-span-10 row-span-4 md:col-span-4 md:row-span-3">
      <WorkCard md={works.get('scroll')} />
    </div>
  </div>
</section>
