---
import WorkCard from "./WorkCard.astro";

const mdxs = await Astro.glob<Record<"id" | "imgs", string | string[]>>(
  "../content/work/*.md"
);

const works = new Map();
mdxs.forEach((md) => works.set(md.frontmatter.id, md));
---

<div>
  <h2 class="my-6 heading text-4xl">SHOW & TELL</h2>
</div>
<section class="breakout">
  <div class="col-start-1 grid grid-cols-12 gap-4">
    <div class="col-start- col-span-4 row-start- row-span-4">
      <WorkCard md={works.get("flyp")} />
    </div>
    <div class="col-start- col-span-4 row-start- row-span-4">
      <WorkCard md={works.get("agb")} />
    </div>
    <div class="col-start- col-span-4 row-start- row-span-4">
      <WorkCard md={works.get("colophon")} />
    </div>
    <div class="col-start- col-span-4 row-start- row-span-4">
      <WorkCard md={works.get("xr")} />
    </div>
    <div class="col-start- col-span-4 row-start- row-span-4">
      <WorkCard md={works.get("earthly")} />
    </div>
    <div class="col-start- col-span-4 row-start- row-span-4">
      <WorkCard md={works.get("pushbullet")} />
    </div>
    <div class="col-start- col-span-4 row-start- row-span-4">
      <WorkCard md={works.get("playalong")} />
    </div>
  </div>
</section>
